<h1>Welcome to Sarah's Casino!<br>Let's play Blackjack!</h1>
<h3><br>Please enter your name below</h3>

<form action='/username_filled' method='post'>
  <input type='text' name='username' placeholder="Your name">
  <input type='submit' class="btn btn-primary">
</form>